<% provide(:title, "リンク集") %>

<h1>サッカー情報サイト</h1>

  <center>
    <p class="cole">SOCCER KING</p>
    <p class="cole2">サッカーキング</p>
    <%= link_to image_tag("soccerking.png", :size =>'180x180', alt: "SOCCER KING"),
        'https://www.soccer-king.jp/', :target=>["_blank"]%>
    <p class="commentary">情報量も多く、世界のサッカー情報からJリーグまで、独自の視点でコラム掲載されています！</p>
    <hr>
    
    <p class="cole">Goal.com</p>
    <p class="cole2">ゴールドットコム</p>
    <%= link_to image_tag("GOAL.jpg", :size =>'180x180', alt: "Goal.com"),
        'http://www.goal.com/jp/', :target=>["_blank"]%>
    <p class="commentary">海外サッカー情報を掲載する大手サイトです！海外サッカーの情報は網羅できます！</p>
    <hr>
    
    <p class="cole">Number Web</p>
     <p class="cole2">ナンバーウェブ</p>
    <%= link_to image_tag("numberweb.png", :size =>'180x180', alt: "Number Web"),
        'http://number.bunshun.jp/', :target=>["_blank"]%>
    <p class="commentary">雑誌「Number」を出版する会社のウェブです！雑誌とは違ったコラムも掲載しています！</p>
    <hr>