<footer class="footer">
  <small>
    管理者 小野村 一馬
  </small>
  <nav>
    <ul>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><a href ="https://railstutorial.jp/" target= "_blank" >参考</a></li>
    </ul>
  </nav>
</footer>