<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <small>
      管理者 小野村 一馬
    </small>
    <nav>
      <ul>
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://football-com-soccer.herokuapp.com/" target="_blank">Facebook</a>
        <a class="twitter" href="https://twitter.com/intent/tweet?text=サッカー情報シェアサイト！！&url=https://football-com-soccer.herokuapp.com/" target="_blank">twitter</a>
        <a class="line" href="http://line.me/R/msg/text/?https://football-com-soccer.herokuapp.com/" target="_blank">LINE</a>
      </ul>
    </nav>
  </div>
</footer>

https://www.facebook.com/sharer/sharer.php?u=https://level-up-notebook.com/css/1214/