<footer class="footer">
  <small>
    create
    by <a href="">小野村 一馬</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "このサイトについて",   help_path %></li>
      <li><%= link_to "お問い合わせ",   link_path %></li>
    </ul>
  </nav>
</footer>
